/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.table-clickable tr td{
    cursor: pointer;
}

.d-flex{
    display: flex;
}

.flex-grow-1{
    flex-grow: 1;
}

.align-self-start{
    align-self: start;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

.sidebar-menu {
  width: 300px ;
  background: #23272a !important;;

}
/*
.main-content {
  margin-left: 300px !important;
}
*/
.main-menu li > a {
  font-size: 1.5rem !important;     
 /* font-weight: 600 !important;    */
  display: flex;
  align-items: center;
  gap: 10px;                       
}
/*
.main-menu .title {
  font-size: inherit;
  font-weight: inherit;
  white-space: nowrap;
} 
*/
